@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200..1000&display=swap");
@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  /* font-family: "Amiri", serif; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme {
  --color-primary: #003a42;
  --color-secondary: #7a5a21;
  --color-bg: #e1c784;

  --color-succeeded: #1cbb8c;
  --color-succeededBg: #1cbb8c2e;
  --color-pending: #fcb92c;
  --color-pendingBg: rgb(252 185 44 / 18%);
  --color-denied: #ff3d60;
  --color-deniedBg: rgba(255, 61, 96, 0.18);
  --color-inProgress: #1795ce;
  --color-inProgressBg: rgba(61, 96, 255, 0.18);
}

/* Remove default browser password reveal buttons */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-strong-password-auto-fill-button {
  display: none !important;
}

/* Hide Safari's password suggestion eye */
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
